<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani_RoomCard_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{60,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{60,42}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>Ani_RoomCard_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,48},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{60,44}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>Ani_RoomCard_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{60,44}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>Ani_RoomCard_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,94},{58,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{58,44}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>Ani_RoomCard_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{60,44}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>Ani_RoomCard_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{60,44}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ani_RoomCard.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95773926228b91266d4f1d62b46f6187:1/1$</string>
            <key>textureFileName</key>
            <string>Ani_RoomCard.png</string>
        </dict>
    </dict>
</plist>
