<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani_Red_Packet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,441},{133,188}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,58},{133,188}}</string>
                <key>sourceSize</key>
                <string>{245,280}</string>
            </dict>
            <key>Ani_Red_Packet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{193,206}}</string>
                <key>offset</key>
                <string>{-8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,58},{193,206}}</string>
                <key>sourceSize</key>
                <string>{245,280}</string>
            </dict>
            <key>Ani_Red_Packet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,743},{235,258}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{235,258}}</string>
                <key>sourceSize</key>
                <string>{245,280}</string>
            </dict>
            <key>Ani_Red_Packet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{245,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,280}}</string>
                <key>sourceSize</key>
                <string>{245,280}</string>
            </dict>
            <key>Ani_Red_Packet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{245,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,280}}</string>
                <key>sourceSize</key>
                <string>{245,280}</string>
            </dict>
            <key>Ani_Red_Packet_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,280}}</string>
                <key>sourceSize</key>
                <string>{245,280}</string>
            </dict>
            <key>Ani_Red_Packet_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{245,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,280}}</string>
                <key>sourceSize</key>
                <string>{245,280}</string>
            </dict>
            <key>Ani_Red_Packet_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,197},{193,242}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{193,242}}</string>
                <key>sourceSize</key>
                <string>{245,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ani_Red_Packet.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5742dca122f15dad92da5409d7b54cca:1/1$</string>
            <key>textureFileName</key>
            <string>Ani_Red_Packet.png</string>
        </dict>
    </dict>
</plist>
