<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani_TOAShare_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{392,392}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{392,392}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
            <key>Ani_TOAShare_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{366,364}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{366,364}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ani_TOAShare.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:624567965ba990729e4686184036a625:1/1$</string>
            <key>textureFileName</key>
            <string>Ani_TOAShare.png</string>
        </dict>
    </dict>
</plist>
