<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani_Notice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,194},{106,86}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{106,86}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>Ani_Notice_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,100},{112,92}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{112,92}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>Ani_Notice_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{118,96}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{118,96}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>Ani_Notice_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{124,102}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{124,102}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>Ani_Notice_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,106}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{128,106}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>Ani_Notice_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{98,82}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{98,82}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ani_Notice.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e641bb00d98322635183f27addb2bd21:1/1$</string>
            <key>textureFileName</key>
            <string>Ani_Notice.png</string>
        </dict>
    </dict>
</plist>
