<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani_Talk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,125},{115,119}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{115,119}}</string>
                <key>sourceSize</key>
                <string>{153,149}</string>
            </dict>
            <key>Ani_Talk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,246},{121,119}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{121,119}}</string>
                <key>sourceSize</key>
                <string>{153,149}</string>
            </dict>
            <key>Ani_Talk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{129,119}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{129,119}}</string>
                <key>sourceSize</key>
                <string>{153,149}</string>
            </dict>
            <key>Ani_Talk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{135,119}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{135,119}}</string>
                <key>sourceSize</key>
                <string>{153,149}</string>
            </dict>
            <key>Ani_Talk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,121}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{141,121}}</string>
                <key>sourceSize</key>
                <string>{153,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ani_Talk.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cf00f2ff7285712bc58a1473942b1d0:1/1$</string>
            <key>textureFileName</key>
            <string>Ani_Talk.png</string>
        </dict>
    </dict>
</plist>
