<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani_Activity_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{130,98}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{130,98}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>Ani_Activity_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{146,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{146,106}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>Ani_Activity_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{146,110}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{146,110}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>Ani_Activity_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,116}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>Ani_Activity_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{146,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>Ani_Activity_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,134},{128,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{128,92}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ani_Activity.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67454fbab1c1833f6a0c81d1046cfe03:1/1$</string>
            <key>textureFileName</key>
            <string>Ani_Activity.png</string>
        </dict>
    </dict>
</plist>
