<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_over_backhome_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,865},{209,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,65}}</string>
                <key>sourceSize</key>
                <string>{209,65}</string>
            </dict>
            <key>game_over_backhome_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,821},{209,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,65}}</string>
                <key>sourceSize</key>
                <string>{209,65}</string>
            </dict>
            <key>game_over_backhome_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,798},{209,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,65}}</string>
                <key>sourceSize</key>
                <string>{209,65}</string>
            </dict>
            <key>game_over_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,496},{96,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,88}}</string>
                <key>sourceSize</key>
                <string>{96,88}</string>
            </dict>
            <key>game_over_bg_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{649,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{649,197}}</string>
                <key>sourceSize</key>
                <string>{649,197}</string>
            </dict>
            <key>game_over_close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,549},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>game_over_close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,496},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>game_over_friend_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,773},{209,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,65}}</string>
                <key>sourceSize</key>
                <string>{209,65}</string>
            </dict>
            <key>game_over_friend_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,813},{209,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,65}}</string>
                <key>sourceSize</key>
                <string>{209,65}</string>
            </dict>
            <key>game_over_friend_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,797},{209,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,65}}</string>
                <key>sourceSize</key>
                <string>{209,65}</string>
            </dict>
            <key>game_over_list_bg1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,559},{212,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,392}}</string>
                <key>sourceSize</key>
                <string>{212,392}</string>
            </dict>
            <key>game_over_list_bg1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,360},{212,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,392}}</string>
                <key>sourceSize</key>
                <string>{212,392}</string>
            </dict>
            <key>game_over_list_bg2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{874,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{874,177}}</string>
                <key>sourceSize</key>
                <string>{874,177}</string>
            </dict>
            <key>game_over_list_bg2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{874,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{874,177}}</string>
                <key>sourceSize</key>
                <string>{874,177}</string>
            </dict>
            <key>game_over_list_hr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{290,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,2}}</string>
                <key>sourceSize</key>
                <string>{290,2}</string>
            </dict>
            <key>game_over_roomer_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,773},{45,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,31}}</string>
                <key>sourceSize</key>
                <string>{45,31}</string>
            </dict>
            <key>game_over_share_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,754},{209,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,65}}</string>
                <key>sourceSize</key>
                <string>{209,65}</string>
            </dict>
            <key>game_over_share_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,602},{209,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,65}}</string>
                <key>sourceSize</key>
                <string>{209,65}</string>
            </dict>
            <key>game_over_share_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,586},{209,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,65}}</string>
                <key>sourceSize</key>
                <string>{209,65}</string>
            </dict>
            <key>game_over_winer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,559},{249,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,237}}</string>
                <key>sourceSize</key>
                <string>{249,237}</string>
            </dict>
            <key>game_over_winer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,773},{268,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,238}}</string>
                <key>sourceSize</key>
                <string>{268,238}</string>
            </dict>
            <key>game_over_winer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,888},{198,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,194}}</string>
                <key>sourceSize</key>
                <string>{198,194}</string>
            </dict>
            <key>gmae_over_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{492,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,139}}</string>
                <key>sourceSize</key>
                <string>{492,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>box_room_game_over.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcb5330f1af65a99c753d136c9219da8$</string>
            <key>textureFileName</key>
            <string>box_room_game_over.png</string>
        </dict>
    </dict>
</plist>
