<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sign_bling1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,114},{76,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,110}}</string>
                <key>sourceSize</key>
                <string>{76,110}</string>
            </dict>
            <key>sign_bling2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{76,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,110}}</string>
                <key>sourceSize</key>
                <string>{76,110}</string>
            </dict>
            <key>sign_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{170,55}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,55}}</string>
                <key>sourceSize</key>
                <string>{172,57}</string>
            </dict>
            <key>sign_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,55}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,55}}</string>
                <key>sourceSize</key>
                <string>{172,57}</string>
            </dict>
            <key>sign_coin_head1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,271},{68,38}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{68,38}}</string>
                <key>sourceSize</key>
                <string>{72,42}</string>
            </dict>
            <key>sign_coin_head1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,236},{68,38}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{68,38}}</string>
                <key>sourceSize</key>
                <string>{72,42}</string>
            </dict>
            <key>sign_coin_head2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,203},{66,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{80,42}</string>
            </dict>
            <key>sign_coin_head2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,168},{66,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{80,42}</string>
            </dict>
            <key>sign_coin_head3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,341},{69,65}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,65}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>sign_coin_head3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,298},{69,65}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,65}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>sign_coin_head4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,408},{67,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,51}}</string>
                <key>sourceSize</key>
                <string>{67,51}</string>
            </dict>
            <key>sign_coin_head4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{67,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,51}}</string>
                <key>sourceSize</key>
                <string>{67,51}</string>
            </dict>
            <key>sign_coin_head5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,461},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>sign_coin_head5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>sign_coin_head6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{70,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>sign_coin_head6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{70,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>sign_coin_head7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sign_coin_head7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,226},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sign_daily.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{122,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,33}}</string>
                <key>sourceSize</key>
                <string>{122,33}</string>
            </dict>
            <key>sign_line_pic1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,365},{628,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,63}}</string>
                <key>sourceSize</key>
                <string>{628,63}</string>
            </dict>
            <key>sign_line_pic2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{558,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,2}}</string>
                <key>sourceSize</key>
                <string>{558,2}</string>
            </dict>
            <key>sign_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{150,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>sign_title_day1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,595},{62,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,22}}</string>
                <key>sourceSize</key>
                <string>{62,22}</string>
            </dict>
            <key>sign_title_day1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,545},{63,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,24}}</string>
                <key>sourceSize</key>
                <string>{65,24}</string>
            </dict>
            <key>sign_title_day2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,427},{60,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,22}}</string>
                <key>sourceSize</key>
                <string>{62,22}</string>
            </dict>
            <key>sign_title_day2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{63,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,24}}</string>
                <key>sourceSize</key>
                <string>{65,24}</string>
            </dict>
            <key>sign_title_day3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,365},{60,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,22}}</string>
                <key>sourceSize</key>
                <string>{62,22}</string>
            </dict>
            <key>sign_title_day3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,519},{63,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,24}}</string>
                <key>sourceSize</key>
                <string>{65,24}</string>
            </dict>
            <key>sign_title_day4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{60,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,22}}</string>
                <key>sourceSize</key>
                <string>{62,22}</string>
            </dict>
            <key>sign_title_day4_2.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{63,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,24}}</string>
                <key>sourceSize</key>
                <string>{65,24}</string>
            </dict>
            <key>sign_title_day5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{62,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,22}}</string>
                <key>sourceSize</key>
                <string>{62,22}</string>
            </dict>
            <key>sign_title_day5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,995},{63,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,24}}</string>
                <key>sourceSize</key>
                <string>{65,24}</string>
            </dict>
            <key>sign_title_day6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,571},{62,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,22}}</string>
                <key>sourceSize</key>
                <string>{62,22}</string>
            </dict>
            <key>sign_title_day6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,995},{63,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,24}}</string>
                <key>sourceSize</key>
                <string>{65,24}</string>
            </dict>
            <key>sign_title_day7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{62,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,22}}</string>
                <key>sourceSize</key>
                <string>{62,22}</string>
            </dict>
            <key>sign_title_day7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,995},{63,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,24}}</string>
                <key>sourceSize</key>
                <string>{65,24}</string>
            </dict>
            <key>sign_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,619},{52,51}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,51}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sign.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44b25b670321bfd9537ef3a474da362a$</string>
            <key>textureFileName</key>
            <string>sign.png</string>
        </dict>
    </dict>
</plist>
