<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>V2_AgentGuide.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,672},{81,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>V2_AgentGuide_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,787},{40,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,71}}</string>
                <key>sourceSize</key>
                <string>{40,71}</string>
            </dict>
            <key>V2_AgentGuide_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{880,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{880,52}}</string>
                <key>sourceSize</key>
                <string>{880,52}</string>
            </dict>
            <key>V2_AgentGuide_tijiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,825},{151,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,58}}</string>
                <key>sourceSize</key>
                <string>{151,58}</string>
            </dict>
            <key>V2_BG_SchTime2.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,589},{377,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,41}}</string>
                <key>sourceSize</key>
                <string>{377,41}</string>
            </dict>
            <key>V2_Bg_SchQuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,56},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>V2_Button_Activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,467},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,65}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>V2_Button_Activity_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,829},{69,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{69,40}}</string>
                <key>sourceSize</key>
                <string>{71,42}</string>
            </dict>
            <key>V2_Button_Daili.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,115},{114,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,41}}</string>
                <key>sourceSize</key>
                <string>{114,41}</string>
            </dict>
            <key>V2_Button_Daili_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,96},{114,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,41}}</string>
                <key>sourceSize</key>
                <string>{114,41}</string>
            </dict>
            <key>V2_Button_NewPeople.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,115},{60,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,65}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>V2_Button_NewPeople_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,787},{83,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,36}}</string>
                <key>sourceSize</key>
                <string>{83,36}</string>
            </dict>
            <key>V2_Button_Shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,400},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,65}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>V2_Button_UserTickLing.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,334},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,65}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>V2_ChatFaceAni_3001.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,239},{55,61}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,61}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>V2_ChatFaceAni_3002.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,974},{47,55}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{47,55}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>V2_ChatFaceAni_3003.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,182},{61,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{61,55}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>V2_ChatFaceAni_3004.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,773},{49,55}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{49,55}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>V2_ChatFaceAni_3005.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,296},{55,57}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{55,57}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>V2_Chatface_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,196},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,196},{68,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,126},{68,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,126},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,56},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,755},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{74,66}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,266},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{68,66}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,773},{50,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{50,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,56},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,659},{70,68}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{70,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,589},{68,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{68,70}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,741},{70,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{70,70}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,467},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,900},{68,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{68,72}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,302},{82,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{82,74}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,243},{82,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{82,70}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,823},{78,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{78,72}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,378},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,671},{76,68}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{76,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_1020.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,222},{82,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,78}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_1021.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,467},{68,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_1022.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,822},{76,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{76,72}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_1023.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,243},{82,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{82,72}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,378},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,589},{70,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{70,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,589},{74,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{74,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2003.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,387},{68,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{68,66}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2004.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,871},{76,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{76,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2005.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,317},{66,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{66,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2006.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,665},{56,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{56,74}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2007.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,467},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2008.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,378},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2009.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,467},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2010.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,140},{82,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2011.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,749},{74,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{74,70}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2012.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,378},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2013.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,467},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2014.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,900},{68,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{68,72}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2015.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,334},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{66,66}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2016.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,754},{70,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{70,66}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2017.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,589},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{70,70}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2018.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,378},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2019.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,821},{70,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{70,74}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2020.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,467},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2023.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,799},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2024.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,589},{80,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2025.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,672},{80,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2026.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,661},{68,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{68,70}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2027.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,266},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{66,66}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2028.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,397},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2029.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,903},{74,70}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{74,70}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Chatface_2030.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,729},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>V2_Expression_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,829},{188,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,77}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>V2_Expression_pay.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,115},{64,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,25}}</string>
                <key>sourceSize</key>
                <string>{64,25}</string>
            </dict>
            <key>V2_Expression_true.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,787},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>V2_Icon_Liuju.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,589},{182,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,143}}</string>
                <key>sourceSize</key>
                <string>{182,143}</string>
            </dict>
            <key>V2_Icon_Man.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,56},{57,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{57,57}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>V2_Icon_Pingbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>V2_Icon_Record.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,976},{61,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,45}}</string>
                <key>sourceSize</key>
                <string>{61,45}</string>
            </dict>
            <key>V2_Icon_Woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,975},{47,59}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{47,59}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>V2_Line_Fenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,2},{585,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,2}}</string>
                <key>sourceSize</key>
                <string>{585,2}</string>
            </dict>
            <key>V2_Menu_Butongyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,589},{196,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,81}}</string>
                <key>sourceSize</key>
                <string>{196,81}</string>
            </dict>
            <key>V2_Menu_CallBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,828},{187,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,76}}</string>
                <key>sourceSize</key>
                <string>{187,76}</string>
            </dict>
            <key>V2_Menu_ChangeAccount.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,829},{187,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,76}}</string>
                <key>sourceSize</key>
                <string>{187,76}</string>
            </dict>
            <key>V2_Menu_ExitRecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,589},{196,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,81}}</string>
                <key>sourceSize</key>
                <string>{196,81}</string>
            </dict>
            <key>V2_Menu_Huifang.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{123,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,41}}</string>
                <key>sourceSize</key>
                <string>{123,41}</string>
            </dict>
            <key>V2_Menu_Music_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,213},{102,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,106}}</string>
                <key>sourceSize</key>
                <string>{102,106}</string>
            </dict>
            <key>V2_Menu_SEffect_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,139},{102,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,106}}</string>
                <key>sourceSize</key>
                <string>{102,106}</string>
            </dict>
            <key>V2_Menu_Tongyijiesan.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,589},{196,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,81}}</string>
                <key>sourceSize</key>
                <string>{196,81}</string>
            </dict>
            <key>V2_Menu_Yijiandenglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,589},{238,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,84}}</string>
                <key>sourceSize</key>
                <string>{238,84}</string>
            </dict>
            <key>V2_NewPeople_Button_chou.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,56},{150,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,57}}</string>
                <key>sourceSize</key>
                <string>{150,57}</string>
            </dict>
            <key>V2_NewPeople_Button_chou_null.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,824},{150,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,57}}</string>
                <key>sourceSize</key>
                <string>{150,57}</string>
            </dict>
            <key>V2_NewPeople_Button_code.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,978},{114,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,41}}</string>
                <key>sourceSize</key>
                <string>{114,41}</string>
            </dict>
            <key>V2_NewPeople_Button_code_null.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,787},{113,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,40}}</string>
                <key>sourceSize</key>
                <string>{113,40}</string>
            </dict>
            <key>V2_NewPeople_Text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{421,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{421,47}}</string>
                <key>sourceSize</key>
                <string>{425,51}</string>
            </dict>
            <key>V2_Progress_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,589},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{81,80}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>V2_Progress_Bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,315},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{81,80}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>V2_RoomID_Copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,158},{112,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,53}}</string>
                <key>sourceSize</key>
                <string>{112,53}</string>
            </dict>
            <key>V2_RoomID_Join.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,968},{112,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,53}}</string>
                <key>sourceSize</key>
                <string>{112,53}</string>
            </dict>
            <key>V2_RoomID_Paste.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,829},{187,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,76}}</string>
                <key>sourceSize</key>
                <string>{187,76}</string>
            </dict>
            <key>V2_Text_POpt.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,825},{176,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,62}}</string>
                <key>sourceSize</key>
                <string>{180,68}</string>
            </dict>
            <key>V2_Title_BigWinner.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,45},{115,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,49}}</string>
                <key>sourceSize</key>
                <string>{115,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PublicUI_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f019ca15bcb952139280b533e5e45a7:1/1$</string>
            <key>textureFileName</key>
            <string>PublicUI_2.png</string>
        </dict>
    </dict>
</plist>
