<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pkc_s_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,346},{41,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{41,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{39,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{39,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{39,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{43,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{43,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,290},{41,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{41,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{39,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{39,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_1101.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,234},{41,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{41,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_1102.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,450},{39,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_1103.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,394},{39,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_1104.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,338},{39,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_1201.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,178},{41,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{41,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_1202.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,282},{39,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_1203.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,226},{39,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_1204.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,170},{39,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_1301.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{41,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{41,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_1302.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{39,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_1303.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,58},{39,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_1304.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,114},{39,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_1404.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,458},{41,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{41,52}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_1504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{41,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{41,52}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,66},{41,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{41,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,458},{39,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,82},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{37,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,82},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{37,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_301.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,122},{41,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{41,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_302.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,402},{39,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_303.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,82},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{37,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_304.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,82},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{37,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_401.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{41,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{41,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_402.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,346},{39,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_403.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,290},{39,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_404.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,234},{39,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{41,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{41,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_502.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,178},{39,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_503.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,82},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{37,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_504.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,58},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{37,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_601.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{41,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{41,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_602.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{39,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_603.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,43},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{37,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_604.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,43},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{37,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_701.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{41,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{41,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_702.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,58},{39,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_703.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,122},{39,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_704.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,458},{39,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_801.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{41,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{41,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_802.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,402},{39,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_803.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,43},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{37,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_804.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,43},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{37,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_901.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{41,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{41,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_902.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,402},{39,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{39,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_903.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,43},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{37,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_904.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{37,54}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>pkc_s_paimian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,62}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Public_PukeCard_Small.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2405c2de3767c63883b5bf2bba7a97bb:1/1$</string>
            <key>textureFileName</key>
            <string>Public_PukeCard_Small.png</string>
        </dict>
    </dict>
</plist>
