<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pkc_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,543},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,823},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,683},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,251},{107,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,138}}</string>
                <key>sourceSize</key>
                <string>{107,138}</string>
            </dict>
            <key>pkc_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,543},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,435},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,435},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,111},{107,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,138}}</string>
                <key>sourceSize</key>
                <string>{107,138}</string>
            </dict>
            <key>pkc_1101.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,435},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_1102.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,855},{106,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_1103.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,715},{106,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_1104.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,2},{107,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,138}}</string>
                <key>sourceSize</key>
                <string>{107,138}</string>
            </dict>
            <key>pkc_1201.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,575},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_1202.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,435},{106,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_1203.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,327},{106,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_1204.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{107,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,138}}</string>
                <key>sourceSize</key>
                <string>{107,138}</string>
            </dict>
            <key>pkc_1301.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,327},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_1302.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,327},{106,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_1303.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,327},{106,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_1304.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,2},{107,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,138}}</string>
                <key>sourceSize</key>
                <string>{107,138}</string>
            </dict>
            <key>pkc_1404.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{107,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,138}}</string>
                <key>sourceSize</key>
                <string>{107,138}</string>
            </dict>
            <key>pkc_1504.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{107,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,138}}</string>
                <key>sourceSize</key>
                <string>{107,138}</string>
            </dict>
            <key>pkc_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,219},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,219},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,219},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{107,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,138}}</string>
                <key>sourceSize</key>
                <string>{107,138}</string>
            </dict>
            <key>pkc_301.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,219},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_302.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,111},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_303.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,111},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_304.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{107,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,138}}</string>
                <key>sourceSize</key>
                <string>{107,138}</string>
            </dict>
            <key>pkc_401.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,111},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_402.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,111},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_403.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,811},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_404.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{107,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,138}}</string>
                <key>sourceSize</key>
                <string>{107,138}</string>
            </dict>
            <key>pkc_501.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,671},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_502.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,531},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_503.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,251},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{107,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,138}}</string>
                <key>sourceSize</key>
                <string>{107,138}</string>
            </dict>
            <key>pkc_601.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,111},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_602.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,391},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_603.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,811},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_604.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{107,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,138}}</string>
                <key>sourceSize</key>
                <string>{107,138}</string>
            </dict>
            <key>pkc_701.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,671},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_702.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,531},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_703.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,251},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_704.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{107,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,138}}</string>
                <key>sourceSize</key>
                <string>{107,138}</string>
            </dict>
            <key>pkc_801.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,111},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_802.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,391},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_803.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,811},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_804.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{107,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,138}}</string>
                <key>sourceSize</key>
                <string>{107,138}</string>
            </dict>
            <key>pkc_901.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,671},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_902.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,531},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_903.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,391},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>pkc_904.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,138}}</string>
                <key>sourceSize</key>
                <string>{107,138}</string>
            </dict>
            <key>pkc_paimian.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,651},{106,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,137}}</string>
                <key>sourceSize</key>
                <string>{108,137}</string>
            </dict>
            <key>pkc_paimian0.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,543},{106,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,137}}</string>
                <key>sourceSize</key>
                <string>{108,137}</string>
            </dict>
            <key>pkc_paimian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{55,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,71}}</string>
                <key>sourceSize</key>
                <string>{55,71}</string>
            </dict>
            <key>pkc_paimian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Public_PukeCard.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:deb17dd581586dce2bae373aaf3e63fc:1/1$</string>
            <key>textureFileName</key>
            <string>Public_PukeCard.png</string>
        </dict>
    </dict>
</plist>
