<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>join_box_room_in_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,296},{171,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,29}}</string>
                <key>sourceSize</key>
                <string>{171,29}</string>
            </dict>
            <key>join_box_room_num_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{192,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,81}}</string>
                <key>sourceSize</key>
                <string>{192,81}</string>
            </dict>
            <key>join_box_room_num_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{195,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,83}}</string>
                <key>sourceSize</key>
                <string>{195,83}</string>
            </dict>
            <key>join_box_room_num_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{192,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,83}}</string>
                <key>sourceSize</key>
                <string>{192,83}</string>
            </dict>
            <key>join_box_room_num_btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,334},{193,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,83}}</string>
                <key>sourceSize</key>
                <string>{193,83}</string>
            </dict>
            <key>join_box_room_num_btn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,252},{195,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,80}}</string>
                <key>sourceSize</key>
                <string>{195,80}</string>
            </dict>
            <key>join_box_room_num_btn_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,664},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>join_box_room_num_btn_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,502},{193,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,80}}</string>
                <key>sourceSize</key>
                <string>{193,80}</string>
            </dict>
            <key>join_box_room_num_btn_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,170},{195,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,80}}</string>
                <key>sourceSize</key>
                <string>{195,80}</string>
            </dict>
            <key>join_box_room_num_btn_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>join_box_room_num_btn_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,469},{193,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,80}}</string>
                <key>sourceSize</key>
                <string>{193,80}</string>
            </dict>
            <key>join_box_room_num_btn_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,87},{195,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,81}}</string>
                <key>sourceSize</key>
                <string>{195,81}</string>
            </dict>
            <key>join_box_room_num_btn_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,419},{193,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,81}}</string>
                <key>sourceSize</key>
                <string>{193,81}</string>
            </dict>
            <key>join_box_room_num_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,296},{43,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,3}}</string>
                <key>sourceSize</key>
                <string>{43,3}</string>
            </dict>
            <key>join_room_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{743,554}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{743,554}}</string>
                <key>sourceSize</key>
                <string>{743,554}</string>
            </dict>
            <key>join_room_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{292,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,77}}</string>
                <key>sourceSize</key>
                <string>{292,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>join_box_room.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c8ec4bad9f6a7cad3f18eb4c7a228bb$</string>
            <key>textureFileName</key>
            <string>join_box_room.png</string>
        </dict>
    </dict>
</plist>
