<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>center_40162_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,408},{113,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,99}}</string>
                <key>sourceSize</key>
                <string>{113,99}</string>
            </dict>
            <key>center_40163_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,422},{111,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,99}}</string>
                <key>sourceSize</key>
                <string>{111,99}</string>
            </dict>
            <key>center_40164_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{115,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,99}}</string>
                <key>sourceSize</key>
                <string>{115,99}</string>
            </dict>
            <key>center_change_account_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{148,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,78}}</string>
                <key>sourceSize</key>
                <string>{148,78}</string>
            </dict>
            <key>center_change_account_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{148,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,78}}</string>
                <key>sourceSize</key>
                <string>{148,78}</string>
            </dict>
            <key>center_change_account_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,258},{148,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,78}}</string>
                <key>sourceSize</key>
                <string>{148,78}</string>
            </dict>
            <key>center_defend_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{148,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,78}}</string>
                <key>sourceSize</key>
                <string>{148,78}</string>
            </dict>
            <key>center_defend_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,353},{148,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,78}}</string>
                <key>sourceSize</key>
                <string>{148,78}</string>
            </dict>
            <key>center_defend_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,342},{148,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,78}}</string>
                <key>sourceSize</key>
                <string>{148,78}</string>
            </dict>
            <key>center_fangka_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,166},{58,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,31}}</string>
                <key>sourceSize</key>
                <string>{58,31}</string>
            </dict>
            <key>center_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{228,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,72}}</string>
                <key>sourceSize</key>
                <string>{228,72}</string>
            </dict>
            <key>center_gold_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,166},{177,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,30}}</string>
                <key>sourceSize</key>
                <string>{177,30}</string>
            </dict>
            <key>center_gold_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{289,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,16}}</string>
                <key>sourceSize</key>
                <string>{289,16}</string>
            </dict>
            <key>center_gold_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,184},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>center_gold_text_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,242},{68,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,30}}</string>
                <key>sourceSize</key>
                <string>{68,30}</string>
            </dict>
            <key>center_head_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,198},{150,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,142}}</string>
                <key>sourceSize</key>
                <string>{150,142}</string>
            </dict>
            <key>center_line_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{2,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,248}}</string>
                <key>sourceSize</key>
                <string>{2,248}</string>
            </dict>
            <key>center_line_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,242},{2,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,117}}</string>
                <key>sourceSize</key>
                <string>{2,117}</string>
            </dict>
            <key>center_nick_name_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,252},{67,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,29}}</string>
                <key>sourceSize</key>
                <string>{67,29}</string>
            </dict>
            <key>center_sex_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,283},{68,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,29}}</string>
                <key>sourceSize</key>
                <string>{68,29}</string>
            </dict>
            <key>center_smll_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{501,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,162}}</string>
                <key>sourceSize</key>
                <string>{501,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mycenter.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5363f2c0c3ca2c6d6afe62bfabf54c7d$</string>
            <key>textureFileName</key>
            <string>mycenter.png</string>
        </dict>
    </dict>
</plist>
