<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>help_btn_guangdong2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,563},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>help_btn_guangdong2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,721},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>help_btn_jinyun6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,563},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>help_btn_jinyun6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,930},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>help_btn_lishui_heijian4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,879},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>help_btn_lishui_heijian4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,721},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>help_btn_lishui_shuangkou3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,563},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>help_btn_lishui_shuangkou3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>help_btn_longquan7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>help_btn_longquan7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,512},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>help_btn_qingtian1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,461},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>help_btn_qingtian1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,410},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>help_btn_qingyuan9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,359},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>help_btn_qingyuan9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,308},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>help_btn_songyang10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,257},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>help_btn_songyang10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,206},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>help_btn_suichang8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,155},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>help_btn_suichang8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,104},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>help_btn_yunhe5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,53},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>help_btn_yunhe5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>help_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,879},{131,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,69}}</string>
                <key>sourceSize</key>
                <string>{131,69}</string>
            </dict>
            <key>help_ui_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{837,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{837,550}}</string>
                <key>sourceSize</key>
                <string>{837,550}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eeb9d48fcd2ae4958504130526087b1$</string>
            <key>textureFileName</key>
            <string>help.png</string>
        </dict>
    </dict>
</plist>
