<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goldroom_hot_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{42,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,16}}</string>
                <key>sourceSize</key>
                <string>{42,16}</string>
            </dict>
            <key>goldroom_hot_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{44,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,18}}</string>
                <key>sourceSize</key>
                <string>{44,18}</string>
            </dict>
            <key>goldyard_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,218},{296,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,176}}</string>
                <key>sourceSize</key>
                <string>{296,176}</string>
            </dict>
            <key>goldyard_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,180},{296,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,176}}</string>
                <key>sourceSize</key>
                <string>{296,176}</string>
            </dict>
            <key>goldyard_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{296,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,176}}</string>
                <key>sourceSize</key>
                <string>{296,176}</string>
            </dict>
            <key>goldyard_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{296,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,176}}</string>
                <key>sourceSize</key>
                <string>{296,176}</string>
            </dict>
            <key>home_room_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{214,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,302}}</string>
                <key>sourceSize</key>
                <string>{214,302}</string>
            </dict>
            <key>home_room_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{214,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,302}}</string>
                <key>sourceSize</key>
                <string>{214,302}</string>
            </dict>
            <key>home_room_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{214,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,302}}</string>
                <key>sourceSize</key>
                <string>{214,302}</string>
            </dict>
            <key>home_room_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,302}}</string>
                <key>sourceSize</key>
                <string>{214,302}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goldyard.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1afd4860963a3f592abdc5b42c3238a0$</string>
            <key>textureFileName</key>
            <string>goldyard.png</string>
        </dict>
    </dict>
</plist>
