<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>defend_ID.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{86,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,24}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>defend_auth_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,402},{149,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{149,63}}</string>
                <key>sourceSize</key>
                <string>{151,63}</string>
            </dict>
            <key>defend_auth_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,251},{135,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{135,57}}</string>
                <key>sourceSize</key>
                <string>{151,63}</string>
            </dict>
            <key>defend_cancel_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{149,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{149,63}}</string>
                <key>sourceSize</key>
                <string>{151,63}</string>
            </dict>
            <key>defend_cancel_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,388},{133,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{133,57}}</string>
                <key>sourceSize</key>
                <string>{151,63}</string>
            </dict>
            <key>defend_edit_text_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,467},{281,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,37}}</string>
                <key>sourceSize</key>
                <string>{281,37}</string>
            </dict>
            <key>defend_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{247,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{247,77}}</string>
                <key>sourceSize</key>
                <string>{257,77}</string>
            </dict>
            <key>defend_flag_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{423,77}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{423,77}}</string>
                <key>sourceSize</key>
                <string>{429,77}</string>
            </dict>
            <key>defend_ok_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{149,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{149,63}}</string>
                <key>sourceSize</key>
                <string>{151,63}</string>
            </dict>
            <key>defend_ok_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,251},{135,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{135,57}}</string>
                <key>sourceSize</key>
                <string>{151,63}</string>
            </dict>
            <key>defend_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,467},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>defend_warning.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,467},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>defend.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b987ab763b20c24b41084364b7d82d2a$</string>
            <key>textureFileName</key>
            <string>defend.png</string>
        </dict>
    </dict>
</plist>
