<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>share_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{286,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,197}}</string>
                <key>sourceSize</key>
                <string>{286,197}</string>
            </dict>
            <key>share_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{503,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,249}}</string>
                <key>sourceSize</key>
                <string>{503,249}</string>
            </dict>
            <key>share_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,460},{65,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,61}}</string>
                <key>sourceSize</key>
                <string>{65,61}</string>
            </dict>
            <key>share_cancle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,324},{200,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{200,69}}</string>
                <key>sourceSize</key>
                <string>{230,89}</string>
            </dict>
            <key>share_cancle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{180,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{180,63}}</string>
                <key>sourceSize</key>
                <string>{230,89}</string>
            </dict>
            <key>share_close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,485},{27,27}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{27,27}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>share_close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,485},{25,25}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{25,25}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>share_sure1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,253},{200,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{200,69}}</string>
                <key>sourceSize</key>
                <string>{230,89}</string>
            </dict>
            <key>share_sure2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,395},{180,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{180,63}}</string>
                <key>sourceSize</key>
                <string>{230,89}</string>
            </dict>
            <key>share_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,395},{255,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,35}}</string>
                <key>sourceSize</key>
                <string>{255,35}</string>
            </dict>
            <key>shre_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,452},{80,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,31}}</string>
                <key>sourceSize</key>
                <string>{80,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>share.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:780578fc4f739a899d3301e20cd064d5$</string>
            <key>textureFileName</key>
            <string>share1.png</string>
        </dict>
    </dict>
</plist>
