<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InvateCodeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,82},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>wx_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,147},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>yaoqingma_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{252,78}}</string>
                <key>sourceSize</key>
                <string>{260,82}</string>
            </dict>
            <key>yaoqingma_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,146},{150,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,63}}</string>
                <key>sourceSize</key>
                <string>{150,63}</string>
            </dict>
            <key>yaoqingma_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{387,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{387,58}}</string>
                <key>sourceSize</key>
                <string>{387,60}</string>
            </dict>
            <key>yaoqingma_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,82},{692,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{692,2}}</string>
                <key>sourceSize</key>
                <string>{692,2}</string>
            </dict>
            <key>yaoqingma_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{150,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,63}}</string>
                <key>sourceSize</key>
                <string>{150,63}</string>
            </dict>
            <key>yaoqingma_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{123,35}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{123,35}}</string>
                <key>sourceSize</key>
                <string>{129,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yaoqingma.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cd1f179a868d4fa9cdeb6fbaad42ce0$</string>
            <key>textureFileName</key>
            <string>yaoqingma.png</string>
        </dict>
    </dict>
</plist>
