<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boxroom_info_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,85},{182,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,101}}</string>
                <key>sourceSize</key>
                <string>{182,101}</string>
            </dict>
            <key>boxroom_item_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,489},{161,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,46}}</string>
                <key>sourceSize</key>
                <string>{161,46}</string>
            </dict>
            <key>boxroom_number_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,188},{93,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{93,30}}</string>
                <key>sourceSize</key>
                <string>{107,34}</string>
            </dict>
            <key>create_box_room_chaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,526},{66,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,35}}</string>
                <key>sourceSize</key>
                <string>{68,37}</string>
            </dict>
            <key>create_box_room_check_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,660},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{34,34}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>create_box_room_check_back_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,608},{50,52}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>create_box_room_check_back_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,588},{50,52}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>create_box_room_check_back_y3.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,601},{34,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{34,34}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>create_box_room_check_true_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,455},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{42,40}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>create_box_room_check_true_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,426},{54,54}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>create_box_room_check_true_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,482},{50,52}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>create_box_room_check_true_y3.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,497},{36,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{36,36}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>create_box_room_close_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,637},{46,50}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>create_box_room_create_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,85},{190,92}}</string>
                <key>offset</key>
                <string>{-15,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,92}}</string>
                <key>sourceSize</key>
                <string>{220,108}</string>
            </dict>
            <key>create_box_room_create_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,220},{182,88}}</string>
                <key>offset</key>
                <string>{-19,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,88}}</string>
                <key>sourceSize</key>
                <string>{220,108}</string>
            </dict>
            <key>create_box_room_divide_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,571},{64,35}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{64,35}}</string>
                <key>sourceSize</key>
                <string>{68,37}</string>
            </dict>
            <key>create_box_room_game_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,563},{64,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,35}}</string>
                <key>sourceSize</key>
                <string>{68,37}</string>
            </dict>
            <key>create_box_room_jieshao.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,535},{64,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,35}}</string>
                <key>sourceSize</key>
                <string>{68,37}</string>
            </dict>
            <key>create_box_room_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{726,2}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{726,2}}</string>
                <key>sourceSize</key>
                <string>{740,2}</string>
            </dict>
            <key>create_box_room_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,6},{360,268}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,268}}</string>
                <key>sourceSize</key>
                <string>{362,268}</string>
            </dict>
            <key>create_box_room_play_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,489},{66,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,35}}</string>
                <key>sourceSize</key>
                <string>{68,37}</string>
            </dict>
            <key>create_box_room_renshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,534},{64,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,35}}</string>
                <key>sourceSize</key>
                <string>{68,37}</string>
            </dict>
            <key>create_box_room_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,335},{62,35}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{62,35}}</string>
                <key>sourceSize</key>
                <string>{68,37}</string>
            </dict>
            <key>home_myroom_billback_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,537},{49,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,74}}</string>
                <key>sourceSize</key>
                <string>{49,74}</string>
            </dict>
            <key>home_myroom_billback_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,537},{49,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,74}}</string>
                <key>sourceSize</key>
                <string>{49,74}</string>
            </dict>
            <key>home_myroom_billback_btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,557},{49,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,74}}</string>
                <key>sourceSize</key>
                <string>{49,74}</string>
            </dict>
            <key>home_myroom_billinfo_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,506},{49,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,74}}</string>
                <key>sourceSize</key>
                <string>{49,74}</string>
            </dict>
            <key>home_myroom_billinfo_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,455},{49,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,74}}</string>
                <key>sourceSize</key>
                <string>{49,74}</string>
            </dict>
            <key>home_myroom_billinfo_btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,404},{49,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,74}}</string>
                <key>sourceSize</key>
                <string>{49,74}</string>
            </dict>
            <key>home_myroom_billlist_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,298},{700,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,79}}</string>
                <key>sourceSize</key>
                <string>{700,79}</string>
            </dict>
            <key>home_myroom_billlist_infobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,2},{572,1}}</string>
                <key>offset</key>
                <string>{-26,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,32},{572,1}}</string>
                <key>sourceSize</key>
                <string>{648,33}</string>
            </dict>
            <key>home_myroom_billlistinfo_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{700,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,502}}</string>
                <key>sourceSize</key>
                <string>{700,502}</string>
            </dict>
            <key>limit_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,298},{62,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,35}}</string>
                <key>sourceSize</key>
                <string>{62,35}</string>
            </dict>
            <key>repaley_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,375},{75,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{75,30}}</string>
                <key>sourceSize</key>
                <string>{91,36}</string>
            </dict>
            <key>repaley_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,267},{67,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{67,26}}</string>
                <key>sourceSize</key>
                <string>{91,36}</string>
            </dict>
            <key>repaley_btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,298},{75,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{75,30}}</string>
                <key>sourceSize</key>
                <string>{91,36}</string>
            </dict>
            <key>room_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{273,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,294}}</string>
                <key>sourceSize</key>
                <string>{273,294}</string>
            </dict>
            <key>room_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,298},{228,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,189}}</string>
                <key>sourceSize</key>
                <string>{228,189}</string>
            </dict>
            <key>room_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,188},{81,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,108}}</string>
                <key>sourceSize</key>
                <string>{81,108}</string>
            </dict>
            <key>room_bill_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,6},{259,77}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{259,77}}</string>
                <key>sourceSize</key>
                <string>{307,77}</string>
            </dict>
            <key>room_list_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,2},{692,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{692,2}}</string>
                <key>sourceSize</key>
                <string>{692,2}</string>
            </dict>
            <key>room_new_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,372},{56,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,52}</string>
            </dict>
            <key>room_newroom_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,6},{259,77}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{259,77}}</string>
                <key>sourceSize</key>
                <string>{307,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>box_room_info_panel.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:681cb49e8f96576fc2093bc880a8ac22$</string>
            <key>textureFileName</key>
            <string>box_room_info_panel.png</string>
        </dict>
    </dict>
</plist>
