<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>room_gamestyle_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,402},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,402},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,402},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,402},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,322},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,322},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,322},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,322},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,242},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,242},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,242},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,242},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,162},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,162},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,162},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,162},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,82},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,82},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,82},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,82},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
            <key>room_gamestyle_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,78}}</string>
                <key>sourceSize</key>
                <string>{199,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>create_button_home.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f641281b5dad07ce59964493395a06a5$</string>
            <key>textureFileName</key>
            <string>create_button_home.png</string>
        </dict>
    </dict>
</plist>
