<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tips_agree_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,136},{150,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{150,63}}</string>
                <key>sourceSize</key>
                <string>{152,69}</string>
            </dict>
            <key>tips_cancel_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{150,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{150,63}}</string>
                <key>sourceSize</key>
                <string>{152,69}</string>
            </dict>
            <key>tips_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{132,77}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{132,77}}</string>
                <key>sourceSize</key>
                <string>{142,81}</string>
            </dict>
            <key>tips_not_agree_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{150,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{150,63}}</string>
                <key>sourceSize</key>
                <string>{152,69}</string>
            </dict>
            <key>tips_ok_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{150,63}}</string>
                <key>sourceSize</key>
                <string>{152,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tips.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b83acfdbd4b1fd87f814a6dabb75a43$</string>
            <key>textureFileName</key>
            <string>tips.png</string>
        </dict>
    </dict>
</plist>
