<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>money_pic_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,950},{86,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,64}}</string>
                <key>sourceSize</key>
                <string>{86,64}</string>
            </dict>
            <key>money_pic_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,83},{100,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,74}}</string>
                <key>sourceSize</key>
                <string>{100,74}</string>
            </dict>
            <key>money_pic_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,353},{98,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,72}}</string>
                <key>sourceSize</key>
                <string>{98,72}</string>
            </dict>
            <key>money_pic_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,275},{98,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,76}}</string>
                <key>sourceSize</key>
                <string>{98,76}</string>
            </dict>
            <key>product_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,757},{191,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,265}}</string>
                <key>sourceSize</key>
                <string>{191,265}</string>
            </dict>
            <key>product_back_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,950},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>product_back_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,559},{196,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,197}}</string>
                <key>sourceSize</key>
                <string>{196,197}</string>
            </dict>
            <key>share_box_room_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,801},{312,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,20}}</string>
                <key>sourceSize</key>
                <string>{312,20}</string>
            </dict>
            <key>store_anniu_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,863},{54,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,41}}</string>
                <key>sourceSize</key>
                <string>{54,41}</string>
            </dict>
            <key>store_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{916,555}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{916,555}}</string>
                <key>sourceSize</key>
                <string>{916,555}</string>
            </dict>
            <key>store_bth_jinbi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1016},{84,39}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,12},{84,39}}</string>
                <key>sourceSize</key>
                <string>{230,57}</string>
            </dict>
            <key>store_bth_jinbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,863},{230,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,57}}</string>
                <key>sourceSize</key>
                <string>{230,57}</string>
            </dict>
            <key>store_bth_zuanshi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,919},{86,39}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,12},{86,39}}</string>
                <key>sourceSize</key>
                <string>{230,57}</string>
            </dict>
            <key>store_bth_zuanshi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,863},{230,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,57}}</string>
                <key>sourceSize</key>
                <string>{230,57}</string>
            </dict>
            <key>store_buy_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{149,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,63}}</string>
                <key>sourceSize</key>
                <string>{149,63}</string>
            </dict>
            <key>store_buy_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,863},{202,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,80}}</string>
                <key>sourceSize</key>
                <string>{202,80}</string>
            </dict>
            <key>store_buy_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,533},{222,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,88}}</string>
                <key>sourceSize</key>
                <string>{222,88}</string>
            </dict>
            <key>store_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1115},{114,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,60}}</string>
                <key>sourceSize</key>
                <string>{114,60}</string>
            </dict>
            <key>store_jinbi_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,757},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>store_zuanshibuzu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,559},{717,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{717,302}}</string>
                <key>sourceSize</key>
                <string>{717,302}</string>
            </dict>
            <key>zuanshi_pic_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{100,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,79}}</string>
                <key>sourceSize</key>
                <string>{100,79}</string>
            </dict>
            <key>zuanshi_pic_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,159},{114,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,99}}</string>
                <key>sourceSize</key>
                <string>{114,99}</string>
            </dict>
            <key>zuanshi_pic_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,427},{104,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,97}}</string>
                <key>sourceSize</key>
                <string>{104,97}</string>
            </dict>
            <key>zuanshi_pic_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,922},{110,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>store_WZCollection.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0af37454fa75e38c044946a0bcc2b1df$</string>
            <key>textureFileName</key>
            <string>store_WZCollection.png</string>
        </dict>
    </dict>
</plist>
