<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_layer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{837,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{837,550}}</string>
                <key>sourceSize</key>
                <string>{837,550}</string>
            </dict>
            <key>activity_redpacket1.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,359},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>activity_redpacket2.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,308},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>activity_rob1.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,257},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>activity_rob2.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,206},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>activity_sign1.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,155},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>activity_sign2.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,104},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>activity_task1.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,53},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>activity_task2.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>activity_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,410},{131,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,69}}</string>
                <key>sourceSize</key>
                <string>{131,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:771f3fd52bc61a3674c98765014f73c1$</string>
            <key>textureFileName</key>
            <string>activity.png</string>
        </dict>
    </dict>
</plist>
